<h2>AngularJS - Services & DI (Service, Factory, Value, Constant)</h2>

<div ng-controller = "CalcController">
    <p>
        Enter a number: <input type = "number" ng-model = "number1"/>
        <button ng-click = "square()">X<sup>2</sup></button>
    </p>
    <p>Result: {{result1}}</p>
    
    <p>
        Enter a number: <input type = "number" ng-model = "number2"/>
        <button ng-click = "qube()">X<sup>3</sup></button>
    </p>
    <p>Result: {{result2}}</p>
    
    <p>
        Enter Number: <input type = "number" ng-model = "radios"/>
        <button ng-click = "area(radios)">PI*r*<sup>2</sup></button>
    </p>
    <p>Area of circle {{result3}}</p>
</div>

<p><a href="#/">Go Back</a></p>